/* =====================
   Base reset
   ===================== */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

/* ===================== */

.blacklink a,
.blacklink a:visited {
    color: #000;
    text-decoration: none;
}

.blacklink a:hover {
    color: 000;
    text-decoration: underline;
}
.recentlink a,
.recentlink a:visited {
    color: #666;
    text-decoration: none;
}
.recentlink a:hover {
    color: #666;
    text-decoration: underline;
}
.citaz {
    font-style: italic;
    padding-left: 20px;
    border-left: 2px solid #000;
    margin-left: 0;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm {
        max-width: 720px;
    }
    .mt-md-0 {
        margin-top: 0 !important;
    }
}
@font-face {
    font-family: 'Faustina';
    src: url('../fonts/static/Faustina-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Faustina';
    src: url('../fonts/static/Faustina-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Faustina', serif;
    font-size: 1.4rem;
}
.title {
    font-family: 'Faustina', serif;
}
.blogpost {
    font-family: 'Helvetica Neue', serif;
    font-size: 1.1rem;
}
.blogpost h4,h5 {
    font-family: 'Helvetica Neue', serif;
    font-weight: 500;
}
.fancytitle a,
.fancytitle a:visited {
    text-decoration: none;
}
.recentlink a:hover {
    color: #666;
    text-decoration: underline;
}
/* =====================
   Bootstrap utilities
   ===================== */

/* Container base */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12, .col-md-3, .col-md-9{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-6  {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

/* Flexbox */
.d-flex {
    display: flex;
}

.align-items-baseline {
    align-items: baseline;
}

/* Spacing */
.mt-4 {
    margin-top: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .mt-md-0 {
        margin-top: 0;
    }
    .ps-md-3 {
        padding-left: 1rem;
    }
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    --bs-navbar-brand-padding-y: 0.3125rem;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.h4, h4 {
    font-size: calc(1.275rem + .3vw);
}
.h5, h5 {
    font-size: 1.25rem;
}

/* List */
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
